<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link href="login.css" rel="stylesheet" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Pdik systems Account system ---------->
    <script src="script.js"></script>
  </head>
  <body>
    <div class="login-reg-panel">
      <div class="login-info-box">
        <h2>Al een pep chat account?</h2>
        <p>log dan nu in!</p>
        <label id="label-register" for="log-reg-show">Login</label>
        <input
          type="radio"
          name="active-log-panel"
          id="log-reg-show"
          checked="checked"
        />
      </div>

      <div class="register-info-box">
        <h2>Nog geen account maak er snel een aan</h2>
        <p>Doe dat door hier te klikken</p>
        <label id="label-login" for="log-login-show">Registreer</label>
        <input type="radio" name="active-log-panel" id="log-login-show" />
      </div>

      <div class="white-panel">
        <div class="login-show">
          <h2>Login</h2>
          <form class="ajax-form" name="inlog" action="/" method="POST">
            <input type="text" name="username" placeholder="gebruikersnaam" />
            <input type="password" name="password" placeholder="Wachtwoord" />
            <label id="rememberme">
              <input type="checkbox" name="rememberme" />Remember me
            </label>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Login" />
            <!-- <a href="">Wachtwoord vergeten?</a> -->
          </form>
        </div>
        <div class="register-show">
          <h2>Registreer</h2>
          <form
            class="ajax-form"
            action="/register"
            method="POST"
            name="registreer"
            autocomplete="off"
          >
            <label for="email">
              <i class="fas fa-phone"></i>
            </label>
            <input type="email" placeholder="Telefoon nummer" />

            <input type="text" placeholder="gebruikersnaam" />

            <input type="password" placeholder="wachtwoord" />
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Registreer nu" />
          </form>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $(".login-info-box").fadeOut();
        $(".login-show").addClass("show-log-panel");
      });

      $('.login-reg-panel input[type="radio"]').on("change", function() {
        if ($("#log-login-show").is(":checked")) {
          $(".register-info-box").fadeOut();
          $(".login-info-box").fadeIn();

          $(".white-panel").addClass("right-log");
          $(".register-show").addClass("show-log-panel");
          $(".login-show").removeClass("show-log-panel");
        } else if ($("#log-reg-show").is(":checked")) {
          $(".register-info-box").fadeIn();
          $(".login-info-box").fadeOut();

          $(".white-panel").removeClass("right-log");

          $(".login-show").addClass("show-log-panel");
          $(".register-show").removeClass("show-log-panel");
        }
      });
    </script>
  </body>
</html>
